rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /codeds/{fileName} {
      allow read: if true;
      allow create, update: if request.auth != null
        && request.auth.uid in [
          "hDN8IUQ0kJW29pS2n0ukDRBaS4J3",
          "0sKeNdvbFWPtDKUFiNyp2Brtqvk1"
        ]
        && request.resource.size < 8 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
      allow delete: if request.auth != null
        && request.auth.uid in [
          "hDN8IUQ0kJW29pS2n0ukDRBaS4J3",
          "0sKeNdvbFWPtDKUFiNyp2Brtqvk1"
        ];
    }
  }
}
